<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          
        <form class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input [(ngModel)]="user.login" type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input [(ngModel)]="user.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="on" required>
          <!--<div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          -->
          <br />
          <button class="btn btn-lg btn-primary btn-block" (click)="login()" >Sign in</button>
          
          <p class="mt-5 mb-3 text-muted">
            Login: teste@teste.com<br />
            Password: 123456
          </p>
        </form>
        
      </div>
  </div>
</div>

